@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities for smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a; /* Dark Blue/Black background */
  color: #ffffff;
}

/* A cool gradient animation for buttons */
.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}